{% autoescape false %}

    <table class="table table-condensed">
        <tr>
            <form method="get">
                <input name="sort" type="hidden" value="{{ app.request.get('sort') }}" />
                <input name="direction" type="hidden" value="{{ app.request.get('direction') }}" />


                {% for field in fields %}
                {% if field.options.sortable is defined and field.options.sortable %}
                    {% if data.params.direction is defined and data.params.direction == "asc" %}
                        {% set arrow = "▼" %}
                    {% else %}
                        {% set arrow = "▲" %}
                    {% endif %}
                    <th>
                        {{ field.fieldName }} {{ knp_pagination_sortable(data, arrow, 'x.'~field.fieldName) }}

                        {% if field.options.filterable is defined and field.options.filterable %}
                            {% set filterVal = '' %}
                            {% if attribute(app.request.get('filter'), field.fieldName) is defined %}
                                {% set filterVal = attribute(app.request.get('filter'), field.fieldName) %}
                            {% endif %}
                            <br><input class="form-control" name="filter[{{ field.fieldName }}]" value="{{ filterVal }}" />
                        {% endif %}
                    </th>
                {% else %}
                    <th>{{ field.fieldName }}</th>
                {% endif %}
            {% endfor %}
            </form>
        </tr>

        {% for item in data %}
            <tr>
                {% for field in fields %}
                    <td>
                        {% include ['@BBITDataGrid/fieldtypes/'~field.type~'.html.twig', '@BBITDataGrid/fieldtypes/string.html.twig'] %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

    {{ knp_pagination_render(data) }}

{% endautoescape %}

